<head>
<link rel="stylesheet" type="text/css" href="../../css/footer.css">
</head>
<body>
	<footer  class="footer-distributed">
	  <p class="links"><a href="/">Home</a>
		路
		<a href="#">Routes</a>
		路
		<a href="#">Groups</a>
		路
		<a href="#">Tips</a>
		路
		<a href="#">About Us</a>
		</p>
		@CUHK CSCI3100 Group9
	</footer>
</body>