footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	font-family: 'Raleway',sans-serif;
	color: #ffffff;
	background-color: grey;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 0px 60px;
	overflow: hidden;
}

a{
	color: #ffffff;
	text-decoration: none;
}