*{
    padding: 0; /* Reset all padding to 0 */
    margin: 0; /* Reset all margin to 0 */
}
 
body{
    background-image: url("../images/background.png");
    font: 16px "Arial";  /* Set global font size & family */
    color: #464646; /* Set global text color */
}
 
/* Wrap */
#wrap{
	position : absolute;    
    width    : 400px;
    left     : 50%;
    top      : 25%;
    margin-left : -200px; /* half of the width  */
    margin-top  : 0px; /* half of the height */
    background: #FFFFFF; /* Set content background to white */
    padding: 5px 10px 5px 10px; /* Padding to make some more space for our text */
    border: 1px solid #DFDFDF; /* Small border for the finishing touch */
	border-radius: 8px;
	text-align: center;
	color: red;
    /* Center our content text */
}
 
#wrap h3{
    font: 20px Raleway; /* Set font for our heading 2 that will be displayed in our wrap */
	font-weight: bold;
	text-align: center;
	color: black;
}