<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="SHORTCUT ICON" type="image/x-icon" href="images/favicon-32x32.ico" />
    <title>Sign up</title>
    <link href="css/signup.css" type="text/css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <!-- start header div -->
	<header><% include ../partials/header1 %></header>
    <!-- end header div -->
	<div class="outer">
    <!-- start wrap div -->
		<div class="wrap">
        <!-- title and description -->
        <h3>CHANGE ACTIVITY NOW!</h3>
        <!-- start form -->
        <form name="signup" action="http://localhost:3000/changegroup?id=<%= data.activity_id %>" method="post">
            <label for="topic">Activity Title:</label>
            <input type="text" name="topic" value="<%= data.activity_topic %>" required/>
            <label for="date">Date:</label>
            <input type="date" name="date" value="<%= data.formatted_date %>" required/>
            <label for="description">Description:</label>
            <textarea type="text" name="description" value=""><%= data.activity_content %></textarea>
            <input type="submit" name="sent" class="submit_button" value="CHANGE" />
        </form>
        <!-- end form -->
		</div></div>
    <!-- end wrap div -->
</body>
</html>