<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="SHORTCUT ICON" type="image/x-icon" href="images/favicon-32x32.ico" />
	<link href="css/group.css" type="text/css" rel="stylesheet" />
	<script src="alert/dist/alertify.min.js"></script>
	<link rel="stylesheet" href="alert/dist/alertify.core.css" />
	<link rel="stylesheet" href="alert/dist/alertify.default.css" id="toggleCSS" />
	<title>Groups</title>
	<script type="text/javascript" src="scripts/querystring.js" ></script>
	
	<style>
	pre{
		white-space: pre-wrap;
		margin-bottom: 0px;
		text-align: justify;
		word-break: keep-all !important;
		background-color: #ffffff !important;
		font: 17px Raleway !important;
		border: none !important;
		padding: 2px !important;
		margin: 0 !important;
		line-height: 100%;
	}
	
	td{
		padding: 10px !important;
		background-color : white;
	}
	
	#col1{
		border : none;
		background-color : #00aa00;
		color : white;
		text-align : center;
	}
	</style>
	
</head>
<body>

  <div class="whole">
    <div class="header">
      <header><% include ../partials/header1 %></header>
    </div>
    <div class="nonheader">
      <div class="left">
        <div class="searchPost">
          <form>
          	<div class="text">Search:<input type="search" placeholder="Search"><a href="/addgroup"><input type="button" class="submit_button" value="CREATE" /></a></div>
          </form>
        </div>
        <div class="post" id="scroll_one">
          <ul class="list" id="postList">
          </ul>
		  
        </div>
      </div>
      <div class="right">
        <div class="ActivityInfo" id="activityRegion"><h3 id="noAct">Activity not yet selected</h3></div>
        
      </div>
    </div>
	<script type="text/javascript" src="scripts/activity.js" ></script>
  </div>
</body>
</html>
