<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="SHORTCUT ICON" type="image/x-icon" href="images/favicon-32x32.ico" />
	<link href="css/route.css" type="text/css" rel="stylesheet" />
	<link href="css/gallery.css" type="text/css" rel="stylesheet" />
	<title>Trail</title>
	<script type="text/javascript" src="scripts/querystring.js" ></script>
	<style>
		#detail, #list { display: None; }
	
		#trailName {
			text-align: center;
			font-size: 20px;
		}
	</style>
</head>
<body>
	<header><% include ../partials/header1 %></header>
	
	<div id="detail">

	<div id="gallery">
	
		<h3 id="trailName"></h3>
		<div id=""></div>
		
		<div class="slideshow-container">
			<div class="mySlides"><img id="img1" style="width:100%"></div>
			<div class="mySlides"><img id="img2" style="width:100%"></div>
			<div class="mySlides"><img id="img3" style="width:100%"></div>
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>
		</div>
		<div style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span> 
			<span class="dot" onclick="currentSlide(2)"></span> 
			<span class="dot" onclick="currentSlide(3)"></span> 
		</div>
		<script type="text/javascript" src="scripts/gallery.js" ></script>
		<br>
		<h3>Information</h3>
		<table border="1" width="100%">
		  <col width="20%">
		  <col width="80%">
		  <tr>
			<th>Name</th>
			<td><pre id="name"></pre></td>
		  </tr>
		  <tr>
			<th>Difficulty</th>
			<td><pre id="difficulty"></pre></td>
		  </tr>
		  <tr>
			<th>Transport</th>
			<td><pre id="transport"></pre></td>
		  </tr>
		  <tr>
			<th>Description</th>
			<td><pre id="description"></pre></td>
		  </tr>
		</table>
		<br>
		<h3>Map location</h3>
		
		<% include ./htmlforgooglemap %>
	</div>
	</div>
	
	<div id="list">
	<h3>Routes<form name="searchform" action="/searchtrail" method="get"><input type="text" placeholder="Search..." name="search" id="search" required>
	<input type="submit" value="Search" class="button"></form></h3>
	</div>
	<script type="text/javascript" src="scripts/trail.js" ></script>
</body>
</html>