<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="SHORTCUT ICON" type="image/x-icon" href="images/favicon-32x32.ico" />
	<link href="css/route.css" type="text/css" rel="stylesheet" />
	<title>Trail</title>
	<script type="text/javascript" src="scripts/querystring.js" ></script>
	
	<style>
		#wrap, #list { display: None; }
	
		#list { margin-top: 100px; background-color: blue; }
	
		#trailName {
			text-align: center;
			font-size: 20px;
		}
		
		#list a {
			display: block;
			color: red;
		}
	</style>
</head>
<body>
	<header><% include ../partials/header1 %></header>
	<div id="wrap">
		<h3 id="trailName"></h3>
		<div id=""></div>
	</div>
	<div id="list">
	<h3>Routes</h3>
	</div>
	<script>

	var trail_id = QueryString.id
	
	if (trail_id == null) {
		document.getElementById('list').style.display = "block";
		
		loadXMLDoc("trail", function(jsonString) {
			var json = JSON.parse(jsonString);
			
			var list = document.getElementById('list');
			
			for (var i = 0; i < json.length; i++) {
				var a = document.createElement('a');
				a.appendChild(document.createTextNode(json[i].trail_name));
				a.setAttribute('href', 'route?id=' + json[i].trail_id);
			
				list.appendChild(a);
			}
		});
		
	} else {
		var url = "trail?id=" + trail_id;
		
		document.getElementById('wrap').style.display = "block";
		
		loadXMLDoc(url, function(jsonString) {
			var json = JSON.parse(jsonString);
		
			var trailNameDiv = document.getElementById('trailName');
			trailNameDiv.appendChild(document.createTextNode(json.trail_name));
			
			
		});
	}
	
	
		
	</script>
</body>
</html>