<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="SHORTCUT ICON" type="image/x-icon" href="images/favicon-32x32.ico" />
    <title>Registration success</title>
    <link href="css/success.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <!-- start header div -->
	<header><% include ../partials/header1 %></header>
    <!-- end header div -->  
     
    <!-- start wrap div -->  
    <div id="wrap">
	 
        <!-- title and description -->   
        <h3>Sign Up</h3>
         
        <!-- start sign up form -->  
        Your registration has been completed. <br>
		<a href="/login">You can now login to our website!</a>
        <!-- end sign up form -->
         
    </div>
    <!-- end wrap div -->
</body>
</html>