<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="SHORTCUT ICON" type="image/x-icon" href="images/favicon-32x32.ico" />
    <title>Login</title>
    <link href="css/tips.css" type="text/css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<header><% include ../partials/header1 %></header>
		<div class="body">
    <div id="wrap">
	 
        <!-- title and description -->   
        <h3>Hiking Tips</h3>
        <div style = "font-size:15px; color:#000000; margin-top:10px; text-align: center;">

        <!-- banner slides starts -->

            <!-- <div id="bannerSlideContainer" class="clearfix"> -->
                <!-- <div class="bannerSlide"> -->
                    <div>
                        <img src="images/tipimage.png" style="width:750px;height:382px;" >
                    </div>
         </div>
              <!--   </div> -->
            <div id="text" style = "font-size:15px; color:#000000; margin-top:10px; text-align: left;">
                <p><b> <u>Before the journey: </u> </b></p>
                <ul>
                <li>Carefully make a plan and familiarise yourself with the route.</li>
                <li>Gauge whether your fitness level is appropriate for the the route.</li>
                <li>Inexperienced hikers should not go hiking alone.</li>
                <li>Pay attention to weather conditions.</li>
                <li>Wear appropriate gear and bring along extra clothing and supplies, such as hats, raincoats, windbreakers, maps, compasses, hiking sticks, water, food, electric torches, umbrellas, radios, first-aid kits, mobile phones etc.</li>
                </ul>
                <p><b><u>During the journey:</u></b></p>
                <ul>
                <li>Pay attention to the signs and terrain along the route to ensure that you are on the right path. Always heed warning signs.</li>
                <li>Remain alert to changes in the surrounding environment. In the event of bad weather, shorten or retreat from the hike.</li>
                <li>Do not attempt to take any short cuts alone.</li>
                <li>Do not pick or eat wild fruit or drink spring water.</li>
                <li>Cooking or making fires is only permitted in designated areas. It is against the law to do so elsewhere, and could result in mountain fires.</li>
                <li>Do not stand on cliff edges or climb onto rocks.</li>
                <li>Do not swim in reservoirs or at unmanned beaches.</li>
                <li>Mobile phone coverage varies throughout Hong Kong&rsquo;s trails. Poor coverage is especially likely to occur in eastern Sai Kung and northern Plover Cove.</li>
                <li>In the event of an emergency, note the number of the nearest distance post (e.g., M001), and call 112 or 999 or use the nearest emergency telephone.</li>
                </ul>
                <p> ☻ For more details on hiking safety, please visit the Agriculture, Fisheries and Conservation Department&nbsp;<a href="http://www.hiking.gov.hk/eng/safety_guidelines/safety_guidelines.htm" target="_blank">website</a>.</p>
                </div>
        <!-- </div> -->

         <!-- banner slides ends -->

        </div>

    </div>
    <!-- end wrap div -->


</div>


</body>
</html>